$darkBlue: #010822;
$dark: #1c1c22;
$purple: #1c49ff;
$lightPurple: #4d6ef3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

// colors
.text-dark {
    color: $dark;
}

.text-dark-blue {
    color: $darkBlue;
}

.text-purple {
    color: $purple;
}

// fonts
.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fs-09rem {
    font-size: 0.9rem;
}

// buttons
.btn-bg-light-purple-text-light {
    background-color: $lightPurple !important;
    color: white !important;

    &:hover {
        background-color: darken($lightPurple, 10%) !important;
        color: white !important;
    }
}

.btn-bg-purple-text-light {
    background-color: $purple !important;
    color: white !important;

    &:hover {
        background-color: darken($purple, 10%) !important;
        color: white !important;
    }
}

// spaces
.mt-5rem {
    margin-top: 5rem;
}

// sizes
.h-20 {
    height: 20%;
}

// others
.default-link {
    text-decoration: none;
    color: $darkBlue;
    font-weight: 600;
    padding: 0.3rem 0.5rem;
    border-radius: 0.28rem;
    transition: 300ms;

    &:hover {
        background-color: darken(#ccc, 14%);
    }
}

.default-link-active {
    color: $purple;
}
